/* global styling to reset browser defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------ */

/* Header Styling */

#nav-bar a.active {
  /* this styles the navigation routing links*/
  background-color: #66b179;
  color: white;
} 

#nav-bar a {
  background-color: #e0e0e0;
}

/* ---------------------------- */


/* Mobile Styles  */
@media only screen and (width < 401px) {
  body {
 
  }
}

/* Tablet Styles */
@media only screen and (401px <= width <= 960px) {
  body {

  }
}

/* Desktop Styles */
@media only screen and (width > 960px) {
  body {

  }
}
