/* global styling to reset browser defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------ */

/* Header Styling */

#nav-bar a.active {
  background-color: #66b179;
  color: white;
} 

#nav-bar a {
  background-color: #e0e0e0;
}

/* ---------------------------- */
